<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>responsive-layout1</title>
	<style>
		#wrap {width: 960px; margin: 0 auto; text-align: center;}
		#header {height: 100px; line-height:100px; background-color: #ffebee;}
		#nav {height: 100px; line-height:100px; background-color: #ffcdd2;}
		#side {width: 360px; height: 600px; line-height:600px; background-color: #ef9a9a; float: left;}
		#contents {width: 600px; height: 600px; line-height:600px;  background-color: #e57373; float: left;}
		#footer {height: 100px; line-height:100px; background-color: #ef5350; clear: both;}
	</style>
</head>
<body>
	<div id="wrap">
		<header id="header">header</header>
		<nav id="nav">nav</nav>
		<aside id="side">side</aside>
		<section id="contents">contents</section>
		<footer id="footer">footer</footer>
	</div>
</body>
</html>